/* container */
.container {
    margin-top: 100px;
    align-items: center;
    min-height:calc(100vh - 70px - 410px);
}

.container .cart-page-header{
    display: flex;
    padding-bottom: 50px;
}
.container .cart-page-header a{
    font-size:24px;
    font-weight:500px;
    color: #EE4D2D;
}
.main-cart{
    display: flex;
    align-items: center;
    justify-content: center;
}
.product-cart{
    /* border: 1px solid rgb(73, 2, 2);
     */
     border-collapse: collapse;
     background: linear-gradient(transparent,rgba(0,0,0,.06));
    
}
.product-cart .cart-sp{
    /* width:500px; */

}

.product-cart tbody tr th{
   
    width: 200px;
    font-size: 20px;
    font-weight: 500;   
} 
@media screen and (max-width:739px) {
    
    
}